/* @font-face {
  font-family: 'Archia';
  src: url('/fonts/archia-regular-webfont.woff2') format('woff2'),
       url('/fonts/archia-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
       url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*/
@font-face {
  font-family: 'STIX Two Text';
  src: url('/fonts/STIXTwoText-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('/fonts/STIXTwoText-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Homey Feeling';
  src: url('/fonts/Homey Feeling.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-primary: 'STIX Two Text', sans-serif;
}